<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.PersonMapper">
    <cache/>
    <select id="selectPerson" resultType="org.example.model.Person">
        select * from person where id = #{id}
    </select>
    <insert id="save">
        insert into person (id, name, age) values (#{id}, #{name}, #{age})
    </insert>
</mapper>